{% extends 'cookbook_text/base.html' %}

{% block page-content %}
    <h1>Recipe 01 <small>Processing a String One Character at a Time</small></h1>

    {# Form stuff... #}
    {% if form %}
        <p class="lead">
            Enter any string in the field below. Choose a method and press <strong>Submit</strong>.
        </p>
        <form class="form" action="{% url 'text:recipe' '1' %}" method="post">
            {% csrf_token %}
            {% include 'bootstrap-form-basic.html' %}
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    {% endif %}

    {# Word stuff... #}
    {% if word %}
        <p>
            Your new word: <strong>{{ word }}</strong>
        </p>
        <a class="btn btn-primary" href="{% url 'text:recipe' '1' %}">Try another</a>
    {% endif %}
{% endblock %}